#wrapper {
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compose {
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    max-width: 350px;
}
#compose input {
    margin:1px;
}