#wrapper {
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compose {
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compose input {
    margin:1%;
}

textarea[name="message"] {
    font-family: sans-serif;
    resize: none;
}

textarea[name="message"]::placeholder {
    font-family:sans-serif;
}

.post{
    max-width: 350px;
    margin-top: 5%;
    padding:1%;
}
.infos {
    color:#71767b;
    display: flex;
    justify-content:space-between;
}
.author{
    margin: 0;
    font-size:medium;
}
.date {
    font-size:x-small;
    margin:0;
    flex-shrink: 0;
}
.message{
    font-size:larger;
    margin:0;
    word-wrap: break-word;
}
